h1 {
  margin: 50px auto;
  border-bottom: 3px solid #33f;
  width: min-content;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 64px;
  color: #33f
}

h2 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 36px;
}

section {
  display: block;
  margin: auto;
  margin-top: 50px;
  width: 80%;
}

img {
  display: inline-block;
  width: 32%;
  height: 26vw;
}

#products *:hover {
  cursor: pointer;
  box-shadow: 0 0 15px #999;
}

button {
  margin: 10px auto;
  border: 5px solid #33f;
  border-radius: 100000px;
  padding: 10px 20px;
  width: 100%;
  background-color: #fff;
  font-size: 16px;
  font-weight: bolder;
  color: #33f;
}

button:hover {
  background-color: #33f;
  color: #fff;
  box-shadow: 0 0 15px #999;
  cursor: pointer;
}